@font-face {
	font-family: "popjoy";
	src: url("FOT-PopJoyStd-B.otf");
}
@font-face {
	font-family: "notomono";
	src: url("NotoMono-Regular.ttf");
}
html, body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'popjoy';
	font-size: 125%;
	color: #00dede;
	text-shadow: 1px 1px #212121, 1px -1px #212121, -1px -1px #212121, -1px 1px #212121;
	-webkit-user-select: none;
	-ms-user-select:none;
	-moz-user-select: none;
	user-select: none;
}

body {
	background: url("background.png") no-repeat center center fixed;
	background-size: cover;
}
#baseBar {
	width: 100%;
	height: 100%;
	background-color: grey;
	border-radius: 15px;
	float: left;
}
#inBar {
	width: 50%;
	max-width: 100%;
	height: 100%;
	background-color: yellow;
	border-radius: 10px;
}
#content{
	background: rgba(21,21,21,.33);
	border-radius: 50px;
	height: 66%;
	width: 50%;
	padding: 1%;
	min-height: 240px;
}
#ccontent{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.center{
	display: block;
	margin: auto;
}
.vcenter{
	vertical-align: middle;
}
#currentClicks, #goalClicks{
	width: 20%;
}
#currentClicks{
	text-align: right;
}
#bar{
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#button{
	height: 50%;
	padding: 5px;
	animation-name: idle;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes idle{
	0%, 100% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
}
#userClicks{
	width: 100%;
	text-align: center;
}

#inBar.g1{
	background-color: cyan;
}
	
#inBar.g2{
	background-color: green;
}
#inBar.g3{
	background-color: blue;
}
#inBar.g4{
	background-color: magenta;
}
#inBar.g5{
	background-color: red;
}
#inBar.g6{
	background-color: cyan;
}
#inBar.g7{
	background-color: cyan;
}
#inBar.g8{
	background-color: cyan;
}

