html, body {
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	-ms-user-select:none;
	-moz-user-select: none;
	user-select: none;
}

body {
	background-image: url("https://i.imgur.com/UHL28iF.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
}
#logo {
	margin: auto;
	padding-top: 150px;
	display: block;
	width: 100%;
	max-width: 800px;
}

#flex-container{
	height: 100px;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
}
.flex-item{
	width: 100px;
	height: 200px;
}
.flex-item:hover {
	opacity: 0.8;
	filter: alpha(opacity=100);
}
.icon{
	width: 80px;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}
.center{
	display: block;
	margin: auto;
}
.vcenter{
	vertical-align: middle;
}

